.banner {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("banner_cocktail.jpg");
  background-size: cover;
  height: 500px;
  align-items: center;
  margin-bottom: 20px;
  color: white;
  padding: 40px;
}
